.DS_Store
node_modules
/node_modules
/dist
unpackage
/unpackage
/unpackage/ 


# local env files   https://blog.csdn.net/hnnd123/article/details/92792543
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
